<!-- editblog.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
    <!-- Include Tailwind CSS stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body>

    <div class="container mx-auto mt-8">
        <form action="/updateblog/{{blogToUpdate._id}}" method="post">
            <!-- Include CSRF protection if needed -->
            <!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> -->
              <input type="hidden" name="_method" value="PUT">
            <div class="mb-4">
                <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title:</label>
                <input type="text" id="title" name="title" value="{{blog.title}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <div class="mb-4">
                <label for="content" class="block text-gray-700 text-sm font-bold mb-2">Content:</label>
                <textarea id="content" name="content" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">{{blog.content}}</textarea>
            </div>

            <div class="mb-4">
                <label for="imageUrl" class="block text-gray-700 text-sm font-bold mb-2">Image URL:</label>
                <input type="text" id="imageUrl" name="imageUrl" value="{{blog.imageUrl}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Update Blog</button>
        </form>
    </div>

</body>
</html>
